body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}


hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #F05F44; 
}

.faded {
    color: rgba(255, 255, 255, 0.8); 
}

header.startup {
    background-position: center;
    background-image: url("background.jpg");
    background-size: cover;
    height: 100%;
}
  
header.startup hr {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 15px;
}
  
header.startup h1 {
    margin-top: 50px;
    font-size: 2rem;
}

ul {
    list-style: none;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
}

.btn:focus,.btn:active {
    box-shadow: 0px 0px 1px 1px whitesmoke !important;
 }

.btn-xl {
    padding: 1rem 2rem; 
}
  
.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44; 
}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
}

.btn-primary:active {
    background-color: #932A00 !important;
    border-color: #932A00 !important;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.navbar {
    position: absolute;
    width: 100%;
}
